<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Los Altos Hacks - Admin Dashboard</title>

  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/fonts.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/main.css') }}">
</head>
<body>
  <div class="panel">
    <h1>Attendees List</h1>
    <div id="attendees-list">
      <div class="header">
        <ul>
          <li>Accepted?</li><li>
          First Name</li><li>
          Last Name</li><li>
          Email</li><li>
          Registration Date</li>
        </ul>
      </div>
      <div class="attendees-row">
        <details>
          <summary>
            <ul>
              <li>Yes/No</li><li>
              First Name</li><li>
              Last Name</li><li>
              mail@mail.com</li><li>
              00-00-00 00:00:00</li>
            </ul>
          </summary>
          <div class="attendees-details">
            <ul>
              <li class='gender'><b>Gender:</b> </li>
              <li class='age'><b>Age:</b> </li>
              <li class='school'><b>School:</b> </li>
              <li class='grade'><b>Grade:</b> </li>
              <li class='tel'><b>Phone Number:</b> </li>
              <li class='t-shirt'><b>T-Shirt Size:</b> </li>
              <li class='prev-hack'><b>Previous Hackathons:</b> </li>
            </ul>
            <ul>
              <li class='g-name'><b>Guardian Name:</b> </li>
              <li class='g-email'><b>Guardian Email:</b> </li>
              <li class='g-tel'><b>Guardian Phone Number:</b> </li>
            </ul>
            <ul>
              <li class='github-user'><b>GitHub Username:</b> </li>
              <li class='linkedin-prof'><b>LinkedIn Profile:</b> </li>
              <li class='diet-restrict'><b>Dietary Restrictions:</b> </li>
            </ul>
          </div>
        </details>
      </div>
      <div class="attendees-row">
        <details>
          <summary>
            <ul>
              <li>Yes/No</li><li>
              First Name</li><li>
              Last Name</li><li>
              mail@mail.com</li><li>
              00-00-00 00:00:00</li>
            </ul>
          </summary>
          <div class="attendees-details">
            <ul>
              <li class='gender'><b>Gender:</b> </li>
              <li class='age'><b>Age:</b> </li>
              <li class='school'><b>School:</b> </li>
              <li class='grade'><b>Grade:</b> </li>
              <li class='tel'><b>Phone Number:</b> </li>
              <li class='t-shirt'><b>T-Shirt Size:</b> </li>
              <li class='prev-hack'><b>Previous Hackathons:</b> </li>
            </ul>
            <ul>
              <li class='g-name'><b>Guardian Name:</b> </li>
              <li class='g-email'><b>Guardian Email:</b> </li>
              <li class='g-tel'><b>Guardian Phone Number:</b> </li>
            </ul>
            <ul>
              <li class='github-user'><b>GitHub Username:</b> </li>
              <li class='linkedin-prof'><b>LinkedIn Profile:</b> </li>
              <li class='diet-restrict'><b>Dietary Restrictions:</b> </li>
            </ul>
          </div>
        </details>
      </div>
      <div class="attendees-row">
        <details>
          <summary>
            <ul>
              <li>Yes/No</li><li>
              First Name</li><li>
              Last Name</li><li>
              mail@mail.com</li><li>
              00-00-00 00:00:00</li>
            </ul>
          </summary>
          <div class="attendees-details">
            <ul>
              <li class='gender'><b>Gender:</b> </li>
              <li class='age'><b>Age:</b> </li>
              <li class='school'><b>School:</b> </li>
              <li class='grade'><b>Grade:</b> </li>
              <li class='tel'><b>Phone Number:</b> </li>
              <li class='t-shirt'><b>T-Shirt Size:</b> </li>
              <li class='prev-hack'><b>Previous Hackathons:</b> </li>
            </ul>
            <ul>
              <li class='g-name'><b>Guardian Name:</b> </li>
              <li class='g-email'><b>Guardian Email:</b> </li>
              <li class='g-tel'><b>Guardian Phone Number:</b> </li>
            </ul>
            <ul>
              <li class='github-user'><b>GitHub Username:</b> </li>
              <li class='linkedin-prof'><b>LinkedIn Profile:</b> </li>
              <li class='diet-restrict'><b>Dietary Restrictions:</b> </li>
            </ul>
          </div>
        </details>
      </div>
      {% for user in users %}
        <div class="attendees-row">
          <details>
            <summary>
              <ul>
                <li>{{user['acceptance_status']}}</li><li>
                {{user['first_name']}}</li><li>
                {{user['surname']}}</li><li>
                {{user['email']}}</li><li>
                {{user['timestamp']}}</li>
              </ul>
            </summary>
            <div class="attendees-details">
              <ul>
                <li class='gender'><b>Gender:</b> {{user['gender']}}</li>
                <li class='age'><b>Age:</b> {{user['age']}}</li>
                <li class='school'><b>School:</b> {{user['school']}}</li>
                <li class='grade'><b>Grade:</b> {{user['grade']}}</li>
                <li class='tel'><b>Phone Number:</b> {{user['student_phone_number']}}</li>
                <li class='t-shirt'><b>T-Shirt Size:</b> {{user['tshirt_size']}}</li>
                <li class='prev-hack'><b>Previous Hackathons:</b> {{user['previous_hackathons']}}</li>
              </ul>
              <ul>
                <li class='g-name'><b>Guardian Name:</b> {{user['guardian_name']}}</li>
                <li class='g-email'><b>Guardian Email:</b> {{user['guardian_email']}}</li>
                <li class='g-tel'><b>Guardian Phone Number:</b> {{user['guardian_phone_number']}}</li>
              </ul>
              <ul>
                <li class='github-user'><b>GitHub Username:</b> {{user['github_username']}}</li>
                <li class='linkedin-prof'><b>LinkedIn Profile:</b> {{user['linkedin_profile']}}</li>
                <li class='diet-restrict'><b>Dietary Restrictions:</b> {{user['diestary_restrictions']}}</li>
              </ul>
            </div>
          </details>
        </div>
      {% endfor %}
    </div>
  </div>

  <script src="/assets/js/index.js"></script>
</body>
</html>
